@media (min-width: 520px) {
  .main-menu__buttons {
    margin-top: 100px;
  }
  .main-menu__title {
    font-size: 81px;
  }
  .volume-container, .settings-menu__wrapper {
    align-items: flex-start;
  }

  .settings-save__container {
    button {
      width: 230px;
    }
  }
  .settings-menu__ico-close {
    opacity: 1;
  }
  .category-container__img {
    width: 30%;
  }

}
