@media (min-width: 768px) {
  .main-menu__title {
    font-size: 111px;
  }
  .main-menu__buttons {
    flex-direction: row;
    column-gap: 20px;
  }
  .settings-menu__wrapper {
    padding: 0 40px;
  }
  .settings-save__container {
    align-self: flex-end;
  }
  .category-container__img {
    width: 24%;
  }
  .image-answer__container {
    width: 30%;
  }
}
