.header-buttons__count {
  display: block;
  width: 35px;
  height: 35px;
  background: center url("./../assets/svg/search.svg");
  background-repeat: no-repeat;
  background-size: contain;
}
.header-buttons {
  display: flex;
  align-items: center;
  column-gap: 15px;
}
.header-nav__buttons {
  display: flex;
  column-gap: 15px;
}
.header-nav__main-menu {
  display: none;
}
.header-nav__main-menu,
.header-nav__decorations-menu,
.header-nav__tree-menu {
  width: 150px;
  height: 40px;
  font-weight: 400;
  font-size: 20px;
  color: #ffffff;
  background-color: rgba(31, 112, 127, 0.3);
  border: 1px solid #278d9f;
  box-shadow: 2px 2px 20px 2px #000a;
  cursor: pointer;
  &:hover {
    background-color: rgba(51, 149, 167, 0.3);
  }
}
.header-buttons__count {
  display: none;
  width: 48px;
  height: 60px;
  background-image: url(../assets/svg/ball-2.svg);
  background-repeat: no-repeat;
  background-position: left -8px;
  background-size: 48px 60px;
  transition: 0.3s;
  span {
    display: inline-block;
    min-width: 40px;
    height: 40px;
    margin-left: -2px;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
    color: white;
    background-color: #278d9f;
    border-radius: 50%;
  }
}
.header-buttons__search {
  position: relative;
  display: none;
  margin: 0;
  padding: 0;
}
.search__input {
  width: 400px;
  padding: 10px;
  border: 2px solid #278d9f;
  outline: none;
}
.search__cancel-ico {
  position: absolute;
  top: 10px;
  right: 10px;
  bottom: 10px;
  display: none;
  color: #666666;
  background-color: #ffffff;
  border: 0;
  border-radius: 50%;
  outline: none;
  transition: background 200ms;
}
.search__input:valid ~ .search__cancel-ico {
  display: block;
}
.search__cancel-ico:hover {
  background-color: #eeeeee;
}
