.header-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

}
.header-content__title {
  display: block;
  padding-left: 74px;
  margin: 0;
  font-family: $forum;
  font-size: $font3;
  font-weight: $font-weight4;
  letter-spacing: 5px;
  line-height: 33px;
  text-transform: uppercase;
  background-image: url("../assets/svg/logo.svg");
  background-repeat: no-repeat;
  background-size: 49px 26px;
}
.header-content__title:hover {
  filter: invert(77%) sepia(0%) saturate(1046%) hue-rotate(239deg) brightness(79%) contrast(50%);
}
.header-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  max-width: 776px;
  column-gap: 56px;
}
.header-list__item {
  font-weight: $font-weight1;
  letter-spacing: 2px;
  line-height: 26px;
}
.link:hover {
  cursor: pointer;
  color: $font-gold;
}
.link:active {
  color: $font-gold;
}
.header-img__container {
  display: none;
}
