@media (max-width: 1024px) {
  .welcome-section {
    padding: 49px 0 48px 0;
  }
  .header-menu__icon {
    z-index: 6;
    display: block;
    position: relative;
    width: 30px;
    height: 18px;
    cursor: pointer;
  }
  .header-menu__icon span,
  .header-menu__icon::before,
  .header-menu__icon::after {
    left: 0;
    position: absolute;
    height: 10%;
    width: 100%;
    transition: all 0.3s ease 0s;
    background-color: #fff;
  }
  .header-menu__icon::before,
  .header-menu__icon::after {
    content: "";
  }
  .header-menu__icon::before {
    top: 0;
  }
  .header-menu__icon::after {
    bottom: 0;
  }
  .header-menu__icon span {
    top: 50%;
    transform: scale(1) translate(0px, -50%);
  }
  .header-menu__icon._active span {
    transform: scale(0) translate(0px, -50%);
  }
  .header-menu__icon._active::before {
    top: 50%;
    transform: rotate(-45deg) translate(0px, -50%);
  }
  .header-menu__icon._active::after {
    bottom: 50%;
    transform: rotate(45deg) translate(0px, 50%);
  }
  .header-nav {
    position: absolute;
    top: 130px;
    left: -100%;
    width: 30%;
    height: 585px;
    background-color: $bg-dark;
    padding: 35px 120px 0px 55px;
    transition: left 0.3s ease 0s;
    overflow: auto;
    z-index: 5;
  }
  .header-nav._active {
    left: 0;
  }
  .header-list {
    flex-direction: column;
    row-gap: 25px;
    align-items: flex-start;
  }
  .header-list__item {
    width: 122px;
    position: relative;
  }
  .header-list__item > a {
    span {
      position: absolute;
      right: 0;
      top: 30%;
      display: inline-block;
      width: 12px;
      height: 12px;
      background: url(../assets/svg/header-nav-arrow.svg) no-repeat;
    }
  }
  //-------------end-header-------------//
  .welcome-wrap {
    min-height: 585px;
  }
  .welcome-content {
    padding-top: 50px;
  }
  .welcome-content__title {
    font-size: 50px;
  }
  .welcome-content__text {
    font-size: 24px;
    margin-bottom: 50px;
  }
  .welcome-content__btn {
    width: 300px;
    height: 60px;
    padding-top: 15px;
  }
  .slide {
    img {
      max-width:  700px;
      max-height: 525px;
    }
  }
  .slider__nav {
    min-width: 700px;
    min-height: 124px;
  }
}
