.pt-perspective {
	position: relative;
	perspective: 1200px;
}
.pt-page {
	position: absolute;
	top: 0;
	left: 0;
	visibility: hidden;
	// overflow: hidden;
	backface-visibility: hidden;
	transform: translate3d(0, 0, 0);
	transform-style: preserve-3d;
}
.pt-page-current,
.no-js .pt-page {
	visibility: visible;
	transition: visibility 1s;
  z-index: 1;
}
.pt-page-ontop {
	z-index: 999;
}

.pt-page-rotatePushTop {
	-webkit-transform-origin: 50% 0%;
	transform-origin: 50% 0%;
	-webkit-animation: rotatePushTop 1s both ease;
	animation: rotatePushTop 1s both ease;
}
.pt-page-rotatePushBottom {
	-webkit-transform-origin: 50% 100%;
	transform-origin: 50% 100%;
	-webkit-animation: rotatePushBottom 1s both ease;
	animation: rotatePushBottom 1s both ease;
}

@-webkit-keyframes rotatePushTop {
	from { }
	to { opacity: 0; -webkit-transform: rotateX(-90deg); }
}
@keyframes rotatePushTop {
	from { }
	to { opacity: 0; -webkit-transform: rotateX(-90deg); transform: rotateX(-90deg); }
}

@-webkit-keyframes rotatePushBottom {
	from { }
	to { opacity: 0; -webkit-transform: rotateX(90deg); }
}
@keyframes rotatePushBottom {
	from { }
	to { opacity: 0; -webkit-transform: rotateX(90deg); transform: rotateX(90deg); }
}


