.wrapper {
  margin: 0 auto;
  padding: 0 20px;
}
.main-menu {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.main-menu__title {
  font-size: 42px;
  letter-spacing: 2px;
}
.main-menu__settings-ico {
  position: absolute;
  top: 18px;
  right: 18px;
  cursor: pointer;
  span {
    display: inline-block;
    width: 34px;
    height: 34px;
    background: url("../assets/svg/settings.svg") no-repeat;
    transition: transform 1s ease;
  }
}
.main-menu__buttons {
  display: flex;
  flex-direction: column;
  margin-top: 40px;

  row-gap: 20px;
}
.main-menu__btn {
  width: 250px;
  height: 50px;
  font-size: 24px;
  background: none;
  border-radius: 10px;
}

.main-menu__settings-ico:hover,
.settings-menu__ico-back:hover,
.settings-menu__ico-close:hover,
.category-menu__ico-back:hover,
.questions-menu__ico-back:hover,
.questions-menu__ico-home:hover,
.result-menu__back-ico:hover,
.result-menu__back-home:hover {
  filter: invert(77%) sepia(0%) saturate(1046%) hue-rotate(239deg) brightness(79%) contrast(50%);
}

.main-menu__btn {
  color: #ffffff;
  text-transform: uppercase;
  border-color: rgb(74, 129, 173);
  box-shadow: 0 0 40px 40px rgb(74, 129, 173) inset, 0 0 0 0 rgb(74, 129, 173);
}
.main-menu__btn:hover {
  box-shadow: 0 0 10px 0 rgb(74, 129, 173), 0 0 10px 4px rgb(74, 129, 173);
}
