.container {
  margin: 0 auto;
  max-width: 1480px;
  padding: 0 20px;
  overflow: hidden;
}
.dark-section {
  background-color: $bg-dark;
  color: white;
}
.section {
  padding: 75px 0;
}
.video-section {
  padding: 90px 0 75px;
}
