.decor__tree-page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 20px;
  background-color: rgba(16, 85, 97, 0.3);
  box-shadow: 2px 2px 20px 2px #000a;

  row-gap: 20px;
}
.decor-container {
  display: flex;
  flex-wrap: wrap;
  width: 255px;
  column-gap: 5px;

  row-gap: 5px;
}
.decor__img-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  background-color: rgba(199, 204, 194, 0.568);
  border: 1px solid rgba(236, 236, 236, 0.667);

  .decor__count {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 1;
    width: 20px;
    height: 20px;
    text-align: center;
    background-color: crimson;
  }
}
.decor__img {
  position: absolute;
  width: 60px;
  height: 60px;
  cursor: move;
}
