.controls {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 20px;
  background-color: rgba(16, 85, 97, 0.3);
  box-shadow: 2px 2px 20px 2px #000a;

  row-gap: 20px;
}
.controls__item {
  display: flex;
  flex-direction: column;
}
.controls__title {
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 20px;
  text-transform: uppercase;
}
.controls__subtitle,
.filters__subtitle {
  font-weight: 200;
  font-size: 18px;
}
.shape-container,
.color-container,
.size-container {
  display: flex;
  align-items: center;
}
// sort section
.sort-select {
  width: 350px;
  height: 35px;
  padding: 5px 25px;
  color: #ffffff;
  background-color: rgba(31, 112, 127, 0.3);
  background-image: url("../assets/svg/arrow-down.svg");
  background-repeat: no-repeat;
  background-position: 310px center;
  background-size: 20px;
  border: 0;
  outline: 0;
  box-shadow: 2px 2px 20px 2px #000a;
  cursor: pointer;

  appearance: none;
  option {
    background-color: #183e42;
  }
}
.sort-select:focus {
  outline: none;
}
// range section
.count-slider,
.year-slider {
  display: inline-block;
  width: 270px;
  height: 6px;
}
.year-slider__container,
.count-slider__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 20px;
}
.count-slider__container {
  margin-bottom: 20px;
}
.slider__output {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-width: 60px;
  height: 30px;
  margin: 10px 0;
  border: 1px solid #278d9f;
  box-shadow: 2px 2px 20px 2px #000a;
}
.count-slider,
.year-slider {
  display: inline-block;
  width: 240px;
  height: 6px;
}

.noUi-horizontal .noUi-handle {
  width: 20px;
  height: 20px;
  border-radius: 0;
  box-shadow: 2px 2px 20px 2px #000a;
}
.noUi-handle::before,
.noUi-handle::after {
  display: none;
}

//filters section
.filters {
  row-gap: 20px;
}
.filters__item {
  display: flex;
  align-items: center;
  column-gap: 15px;
}
.shape {
  button {
    position: relative;
    width: 40px;
    height: 40px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    border: 0;
    outline: 0;
    cursor: pointer;
    transition: 0.3s;
  }
  button:nth-child(1) {
    margin-left: 20px;
    background-image: url("../assets/svg/ball.svg");
  }
  button:nth-child(2) {
    background-image: url("../assets/svg/bell.svg");
  }
  button:nth-child(3) {
    background-image: url("../assets/svg/cone.svg");
  }
  button:nth-child(4) {
    background-image: url("../assets/svg/snowflake.svg");
  }
  button:nth-child(5) {
    background-image: url("../assets/svg/toy.svg");
  }
  button:hover {
    filter: invert(20%);
  }
  .active {
    filter: invert(62%) sepia(72%) saturate(357%) hue-rotate(357deg) brightness(92%) contrast(87%);
  }
}

.color {
  button {
    position: relative;
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: 1px solid #278d9f;
    outline: 0;
    cursor: pointer;
    transition: 0.3s;
  }
  button:nth-child(1) {
    margin-left: 20px;
    background-color: #ffffff;
  }
  button:nth-child(2) {
    background-color: #fdd700;
  }
  button:nth-child(3) {
    background-color: #fd0000;
  }
  button:nth-child(4) {
    background-color: #2199eb;
  }
  button:nth-child(5) {
    background-color: #08aa05;
  }
  button:hover {
    border-color: #cccccc;
  }
  .active::before {
    content: "\2713";
    font-weight: 900;
    font-size: 20px;
    color: rgb(0, 255, 191);
  }
}
.size {
  button {
    position: relative;
    width: 50px;
    height: 50px;
    background-color: transparent;
    background-image: url("../assets/svg/ball.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    border: 0;
    outline: 0;
    cursor: pointer;
    transition: 0.3s;
  }
  button:nth-child(1) {
    margin-left: 20px;
  }
  button:nth-child(2) {
    background-size: 40px 40px;
  }
  button:nth-child(3) {
    margin-left: 0;
    background-size: 32px 32px;
  }
  button:hover {
    filter: invert(20%);
  }
  .active {
    filter: invert(62%) sepia(72%) saturate(357%) hue-rotate(357deg) brightness(92%) contrast(87%);
  }
}
.favorite-container,
.favorite-container__form {
  display: flex;
  align-items: center;
  height: 60px;
  margin: 0;
}

.favorite__input {
  display: none;
  width: initial;
  height: initial;
}

.favorite__label {
  position: relative;
  display: flex;
  width: 30px;
  height: 30px;
  margin: 0;
  margin-left: 20px;
  padding: 0;
  border: 1px solid #278d9f;
  box-shadow: 2px 2px 20px 2px #000a;
  cursor: pointer;
  transition: 0.5s;
}

.favorite__label:hover {
  background-color: #278d9f;
}

.favorite__input:checked + .favorite__label {
  background-color: #278d9f;
  border-color: #278d9f;
}

.favorite__input:checked + .favorite__label::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 15px;
  height: 15px;
  background-color: white;
  transform: translate(-50%, -50%);
}
.apply-buttons {
  display: flex;
  column-gap: 20px;
}
.apply-buttons__default,
.apply-buttons__reset-local {
  width: 150px;
  height: 60px;
  font-weight: 400;
  font-size: 20px;
  color: #ffffff;
  background-color: rgba(31, 112, 127, 0.3);
  border: 1px solid #278d9f;
  box-shadow: 2px 2px 20px 2px #000a;
  cursor: pointer;
  &:hover {
    background-color: rgba(51, 149, 167, 0.3);
  }
}
