.header-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.header-content__title {
  display: block;
  padding-left: 70px;
  margin: 0;
  font-family: $forum;
  font-size: $font3;
  font-weight: $font-weight4;
  letter-spacing: 5px;
  text-transform: uppercase;
  background-image: url("../assets/svg/logo.svg");
  background-repeat: no-repeat;
}
.header-content__title:hover {
  filter: invert(77%) sepia(0%) saturate(1046%) hue-rotate(239deg) brightness(79%) contrast(50%);
}
.header-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.header-list__item {
  padding: 0 38px;
  font-weight: $font-weight1;
  letter-spacing: 2px;
  line-height: 50px;
}
.header-list__item:last-child {
  padding-right: 0;
}
.link:hover {
  cursor: pointer;
  color: $font-gold;
}
.link:active {
  color: $font-gold;
}
