@media (max-width: 1024px) {
  .cards__item {
    width: 180px;
  }
  .header-nav__main-menu,
  .header-nav__decorations-menu,
  .header-nav__tree-menu {
    width: 100px;
  }
  .search__input {
    width: 300px;
  }
}
