.tickets__title {
    font-family: $forum;
    font-size: $font1;
    font-weight: $font-weight4;
    color: $font-gold;
    line-height: 90px;
    letter-spacing: 5px;
    text-transform: uppercase;
    position: relative;
    margin-bottom: 103px;
  }
  .tickets__title::after {
    content: "";
    position: absolute;
    bottom: -28px;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: $dark-red;
  }
  .tickets-img {
    width: 720px;
    height: 550px;
  }
  .tickets-content {
    display: flex;
  }
  .tickets-button {
    display: flex;
    justify-content: space-between;
    padding-left: 60px;
    flex: 0 0 720px;
  }
  .ticket-type__title, .amount__title {
    font-size: $font3;
    font-weight: $font-weight7;
  }
  .ticket-type__title {
    margin-bottom: 50px;
  }
  .amount__title {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 25px;
  }
  .amount__subtitle {
    font-weight: 300;
    margin-left: 25px;
    margin-bottom: 15px;
    line-height: 26px;
  }
  .type-container {
    display: block;
    position: relative;
    padding-left: 40px;
    margin-bottom: 25px;
    cursor: pointer;
    font-weight: $font-weight3;
    line-height: 26px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .type-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 17px;
    width: 17px;
    border: 2px solid $bg-dark;
    border-radius: 50%;
    margin-top: 3px;
  }
  .checkmark::after {
    content: "";
    position: absolute;
    display: none;
    top: 25%;
    left: 25%;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: $bg-dark;
  }
  .type-container input:checked ~ .checkmark::after {
    display: block;
  }

  /*---end radio input---*/

  .amount__number {
    all: unset;
    width: 50px;
    text-align: center;
    font-weight: 300;
  }
  input::-webkit-inner-spin-button,
  input::-webkit-outer-spin-button {
    appearance: none;
  }
  .amount-button {
    border: 3px solid $bg-dark;
    padding: 1px 5px;
    margin-left: 25px;
    margin-bottom: 11px;
    display: flex;
    justify-content: space-between;

  }
  .amount-button button {
    background-color: transparent;
    color: $bg-dark;
    font-size: $font2;
    font-weight: $font-weight4;
  }
  .amount__total {
    display: flex;
    justify-content: flex-end;
    font-size: $font3;
    font-weight: 700;
    letter-spacing: 1.65px;
    padding-top: 40px;
    margin-bottom: 60px;
  }
  .amount__buy {
    width: 175px;
    height: 50px;
    font-weight: $font-weight3;
    letter-spacing: 2px;
    background-color: $bg-dark;
    color: $bg-white;
  }
  .amount__buy:hover {
    background-color: $font-gold;
    color: $bg-white;
  }
