.footer-ico__github {
  display: block;
  background: center url('./../assets/svg/github.svg');
  background-repeat: no-repeat;
  background-size: contain;
  width: 35px;
  height: 35px;
}
.footer-ico__school {
  display: block;
  background: center url('./../assets/svg/rss.svg');
  background-repeat: no-repeat;
  background-size: contain;
  width: 60px;
  height: 35px;
}
