.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  column-gap: 20px;
  row-gap: 20px;
}
.cards__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px;
  width: 222px;
  height: 342px;
  background-color: rgba(16, 85, 97, 0.3);
  border: 3px solid rgba(35, 164, 187, 0.3);
  box-shadow: 2px 2px 20px 2px #000a;
}
.cards__subtitle {
  font-size: 18px;
}
.cards__text-container {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}
.cards__text {
  font-weight: 200;
  font-size: 16px;
}
.cards__img {
  width: 100px;
  height: 100px;
}
.error__subtitle {
  font-size: 40px;
}
